body {
    font-family: sans-serif;
    background-color: #DDD;
    color: #224
}

br {
    margin: 1.2em 0;
}

.debugger {
    padding: 1em;
    transition: opacity 1s linear;
}

.hidden {
    opacity: 0;
}

.highlightable {
    transition: background-color 500ms linear;
}

.highlighted {
    background-color: yellow;
}
